.cart-wrapper {
    width: 70%;
    margin: 20px auto;

    button {
        border: 0;
        background-color: #2a5ea5;
        color: #fff;
        padding: 7px;
        border-radius: 6px;
    }

    .cart-title {
        border-bottom: 1px solid #333;
        padding-bottom: 5px;
    }

    .cart-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 2px 2px 3px #c0c0c0;
        padding: 10px;
        margin: 6px 0;
        img {
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }

        .cart-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
        }

        
    }

    .cart-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        .total {
            font-size: 25px;
        }
    }

    
    
}

.order-info {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    .order-success {
        background-color: green;
        color: #FFF;
        text-align: center;
        padding: 10px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    table {
        border: 1px solid #c0c0c0;

        tr {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #c0c0c0;
            align-items: center;

            td {
                padding: 10px;
            }

            &:last-of-type {
                border-bottom: 0;
            }


        }
    }
}

.close-icon {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 20px;
    cursor: pointer;
}