.checkout-form {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    background-color: #ddd;

    form {
        width: 60%;
        margin: auto;

        >div {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        input {
            height: 40px;
            border: 1px solid #c0c0c0;
            padding: 5px;
        }

        button {
            cursor: pointer;
            height: 40px;

        }
    }

    .close-icon {
        position: absolute;
        right: 5%;
        top: 10px;
        font-size: 20px;
        cursor: pointer;
    }
}