.orders-page {
    width: 100%;

    table {
        width: 100%;
        thead {
            background-color: #000;
            color: #fff;
            
            th {
                padding: 10px;
            }
        }

        tbody {
            tr {
                td {
                    padding: 10px;
                    border-bottom: 1px solid #f0f0f0;
                }
            }
        }

    }
}